/ReservasUPN.BE/bin
/ReservasUPN.BE/obj
/ReservasUPN.BL/obj
/ReservasUPN.DAO/bin
/ReservasUPN.DAO/obj
/ReservasUPN.IBL/bin
/ReservasUPN.IBL/obj
/ReservasUPN.IDAO/bin
/ReservasUPN.IDAO/obj
/ReservasUPN.Web/bin
/ReservasUPN.Web/obj
/ReservasUPN.BL/bin
/ReservasUPN.Util/bin
/ReservasUPN.Util/obj
