<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BD_UPNSACEntities" connectionString="metadata=res://*/Modelos.BDUPNSAC.csdl|res://*/Modelos.BDUPNSAC.ssdl|res://*/Modelos.BDUPNSAC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BD_UPNSAC;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BD_RESERVASEntities" connectionString="metadata=res://*/Modelos.BDRESERVAS.csdl|res://*/Modelos.BDRESERVAS.ssdl|res://*/Modelos.BDRESERVAS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BD_RESERVAS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BD_ADMUSERSEntities" connectionString="metadata=res://*/Modelos.BDINTRANET.csdl|res://*/Modelos.BDINTRANET.ssdl|res://*/Modelos.BDINTRANET.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BD_ADMUSERS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>